body{
    background-color: #F2F2F2;
    font-family: font;
    display: flex;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
}


@font-face {
    font-family: font;
    src: url(./font/LTSuperior-Medium.otf);
}


h1{
    text-align: center;
    align-content: center;
    justify-content: center;
}




a{
    text-decoration: none;
    color: #688392; 
}

a:hover{
    text-decoration:underline;
}

.content {
    flex: 1; 
   text-align: center;
   font-size: 20px;
}




.profile {
    text-align: center; 
    padding: 16px; 
}


.profile-pic {
        width: 60px; 
        height: 60px; 
        border-radius: 50%; 
        margin-bottom: 8px; 
}
    
.nickname {
        display: block; 
        color: #000; 
    }


ul {
    border-left: #000 1px solid;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgba(12, 12, 12, 0.459);
    position: fixed; 
    top: 0;        
    left: 0;        
    z-index: 1000;  
    height: 100%;
    border-right: #000 1px solid;
    backdrop-filter: blur(5px);
}

li {
    border-bottom: #000 1px solid;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #04AA6D;
    color: white;
}

li a:hover:not(.active) {
    background-color: #688392;
    color: white;
}

li:last-child {
    border-bottom: none;
}




.footer {
    text-align: center;
    top: 0;
    padding: 10px;
    font-size: 10px;
}